// THEME COLORS ******
$white: #ddd;
$blue: #A6C8E3;
$green: #6dff45;
$orange: #B16B46;
$transBlack: rgba(0, 0, 0, 0.8);
$lightGray: #999;
$gray: #666;
$darkGray: #333;
$black: #000;


// ********************* FONTS ********************* //

// FONT COLORS *****
$pColor: $white;
$aColor: $blue;

$h1Color: $green;
$h2Color: $blue;
$h3Color: $gray;
$h4Color: $gray;
$h5Color: $gray;

//  FONT SIZES *****
$pSize: 1.8rem;
$aSize: 1.8rem;
$pSmall: 1.6rem;
$aSmall: 1.6rem;

$h1Size: 4rem;
$h2Size: 2.5rem;
$h3Size: 2rem;
$h4Size: 2rem;
$h5Size: 2rem;

// ********* INPUT VARS *********
$labelColor: $black;
$inputColor: $gray;