@import './global/vars.scss';
@import './global/mix-ins.scss';

.gameSideBar {
  @include dFlex(column, flex-start, center);
  width: 30%;
  height: 100%; 

  .inventory{
    border: 1px solid black;
    width: 100%;
    height: 60%;
  }

}//end gameSideBar