@import './global/vars.scss';
@import './global/mix-ins.scss';

.mainCont {
  width: 100%;
  @include dFlex(column, flex-start, center);
  margin: 0 auto;

  form {
    width: 500%;

    input {
      width: 100%;
      margin: 0 0 25px 0;
    }

  }//end form

  p,span a{
    font-size: $pSmall;
  }

  //end form

}

// end mainCont