//google fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $black;

}

//end App